body {
    width: 960px;
}

header {
    margin-left: 20px;

}

h1, h3, h4 {
    font-family: 'Montserrat', sans-serif;;
}

p {
    font-family: 'Droid Sans', sans-serif;
}

#blogLogo {
    height: 300px;
    width: 300px;

}

#textMain {
    padding: 20px;
    text-align: justify;
}

#logoMain {
    padding: 20px;
}

#blogList {
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0px;

    padding: 10px;
    overflow: hidden;
    width: 960px;
}

li {
    float: left;

}

li a {

    display: inline-block;
    height: 10px;
    background: lightgrey;
    color: black;
    font-family: 'Droid Sans', sans-serif;
    text-decoration: none;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

a:hover {
    background-color: lightslategrey;
    color: white;
}

#formEntry {
    display: inline-block;
    text-align: left;
}

form {
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Droid Sans', sans-serif;

}

#submitButton{
    background-color: slategray;
    color: white;
    border-radius: 30px;
    width: 80px;
    height: 30px;
}

label{
    float: left;
    display:inline-block;
    width:250px;
    text-align: right;

}

footer {
    color: darkslategray;
    padding: 30px;
}


